.to-do-list ol {
    max-width: 400px;
    margin: 20px auto;
    padding-left: 50px;
    text-align: left;
}

.to-do-list button {
    margin-left: 10px;
    cursor: pointer;
}

.to-do-list .text {
    margin-left: 8px;
    color: white;
    text-align: center;
}

.to-do-list .text.done {
    text-decoration: line-through;
    color: grey;
}

.no-tasks-message {
    margin-top: 40px;
    color: grey;
    text-align: center;
}